*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

header{
    width: 100%;
    height: 100px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar {
    width: 98%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
}
header .navbar .nav-logo{
    width: 15%;
    height: 90%;
    background-color: red;
}
header .navbar .nav-logo img{
    width: 100%;
    height: 100%;
}
header .navbar ul {
    font-size: 25px;
    width: 50%;
    height: 100%;
    background-color: green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}