*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}
input{
    padding: 20px;
}
#demo{
    font-size: 50px;
    width: 100%;
    background-color: seagreen;
}
#demo ul{
    display: flex;
    justify-content: center;
}
#demo ul li a{
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}