*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 90%;
    height: 100px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
}
nav .logo{
    width: 10%;
    height: 100%;
    background-color: blueviolet;
}
nav .logo img{
    width: 100%;
    height: 100%;
    background-color: burlywood;
    object-fit: cover;
}
nav .search{
    width: 30%;
    height: 100%;
    background-color: brown;
    align-items: center;
    display: flex;
    justify-content: center;
}
nav .search form{
    width: 100%;
    height: 100%;
}
/* nav a{
    text-decoration: none;
    font-size: 15px;
}
nav .menu{
    width: 30%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    list-style: none;
}
nav .profile{
    width: 15%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: cornflowerblue;
} */
