body{
    background-color: #eee;
}
.item-box-1{
    margin-top: 20px;
    /* background-color:    brown; */
}
.item-box-1 .box{
    width: 100%;
    border-radius: 8px;
    /* height: 300px; */
    background-color: gray;
    padding: 15px;
}
.item-box-1 .box h1{
    font-size: 20px;
}
.item ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.item ul li {
    width: 24%;
    height: 120px;
    background-color: #eee;
    border-radius: 7px;
}
.item ul li a{
    text-decoration: none;
    display: flex;
    height: 100%;
    flex-direction: column; /*????*/
    align-items: center;
}
.item ul li a img{
    height: 80%;
    width: 90%;
    border-radius: 7px;
    /* object-fit: contain; */
    margin-top: 5px;
}
.item ul li a span{
    display: block;     /*????*/
    height: 20%;
    width: 100%;
    text-align: center;
    color: black;
}